.main {
  
  background-image: url("../../assets/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mainContainer {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
.heroText {
  width: 65%;
  margin: 0 auto;
  padding: 60px;
}
.heroText h1 {
  color: #fff;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 67px; /* 95.714% */
  padding: 0 28px;
}
.main button {
  margin: 0 auto;
  padding: 13px 24px 13px 24px;
  border-radius: 32px;
  gap: 8px;
  display: flex;
  border: none;
  background-color: #30baed;
  color: #fff;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}
.customer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 121px 0;
}
.customer p {
  color: #fff;
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media only screen and (max-width: 1300px) {
  .heroText {
    width: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  .heroText {
    width: 85%;
  }
  .heroText h1 {
    font-size: 60px;

  }
}
@media only screen and (max-width: 970px) {
  .heroText {
    width: 85%;
    font-size: 40px;
  }
  .heroContainer {
    width: 90%;
  }
  .customer{
  padding: 55px 0;

  }
}
@media only screen and (max-width: 768px) {
  .heroText {
    width: 100%;
    margin:auto !important;
    padding: 30px 0;
    
  }
  .heroContainer {
    width: 95%;
  }
}
@media only screen and (max-width: 640px) {
  .heroText h1{
    font-size: 32px;
    padding:  20px 10px;
    line-height: 40px;
    
  }
  .heroContainer {
    width: 80%;
  }
}
