.flexbox {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 85%;
  margin: 0 auto;
  gap: 20px;
}
.flex1 {
  width: 853px;
  border-radius: 32px;
  gap: 10px;
  /* background-color: #30baeb; */
  align-items: center;
  background-image: url("../../../assets/footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.flex1con {
width: 70%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 94px;
}

.flex1con h1 {
  color: #fff;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 90% */
  margin-top: 95px;
}
.flex1con p {
  color: #daedf3;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
  margin-bottom: 20px;
}
.flex1con button {
  color: #30baeb;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  border-radius: 32px;
  border: 1px solid #30baeb;
  display: flex;
  max-width: 302px;
  padding: 13px 24px;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  /* margin: 95px; */
}
.flex1con button:hover {
  transform: translate(-5px);
  box-shadow: 0px 0px 0px #2980b9;
}
.flex2 {
  width: 351px;
  /* height: 455px; */
  background: #14a0d1;
  padding: 20px 10px;
  border-radius: 32px;
}
.flex2Con {
  width: 90%;
  margin: auto;
}
.flexp {
  /* padding: 0 0 40px; */
  color: #fff;
  font-family: Hanken Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
  margin-bottom: 65px;
}
.flex2Con button {
  width: 100%;
  font-family: Hanken Grotesk;
  border: none;
  border-radius: 32px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #30baeb;
  display: flex;
  /* width: 302px; */
  /* padding: 13px 14px; */
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.flex2Con button:hover {
  transform: translate(5px);
  box-shadow: 0px 0px 0px #2980b9;
}
.Link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.soc p {
  font-family: Hanken Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.soc {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 1024px) {
  .flex1con {
    width: 80%;
  }
  .flexbox {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .flex1con {
    width: 90%;
    margin-bottom: 50px;

  }
  .flex1con h1 {
    font-size: 32px;
    margin-top: 50px;
  }
  .flexbox {
    width: 95%;
  }
  .flex1Con {
    margin-bottom: 20px;
  }
  .flexp {
    font-size: 28px;
    margin-bottom: 20px
  }
  .flex2Con button{
  /* padding: 13px 14px; */
  
  
  }
  @media screen and (max-width:670px) {
    .flexbox{
    flex-direction: column;
    margin: auto;
    width: 95%;
    }

    .flex1 {
      width: auto;
      align-items: center;

    }
    .flex1con button {
      margin-bottom: 40px;
    }
    .flex2{
      width: auto ;
    }
  }
  @media screen and (max-width:410px) {
    .flex1con h1 {
      font-size: 28px;
      /* margin-top: 30px; */
    }
  }
  @media screen and (max-width:340px) {
    .flex1Con{
      width: 100%;
    }
  }
}
