.flexbox {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 85%;
  margin: 0 auto;
  gap: 20px;
}
.flex1 {
  width: 853px;
  /* height: 449px; */
  border-radius: 32px;
  /* border: 1px; */
  gap: 10px;
  background-color: #30baeb;
  align-items: center;
  background: radial-gradient(circle at 0 200px, #30baeb, #ec3237, #0de7e6);
}
.flex1con {
  margin: 0 180px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex1con h1 {
  color: #fff;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 90% */
  margin-top: 95px;
}
.flex1con p {
  color: #daedf3;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
  margin-bottom: 20px;
}
.flex1con button {
  color: #30baeb;
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  border-radius: 32px;
  border: 1px solid #30baeb;
  display: flex;
  padding: 13px 24px;
  align-items: center;
  gap: 8px;
  background-color: transparent !important;
  /* margin: 95px; */
}
.flex1con button:hover {
  transform: translate(-5px);
  box-shadow: 0px 0px 0px #2980b9;
}
.flex2 {
  width: 351px;
  height: 455px;
  background: #14a0d1;
  padding: 20px 10px;
  border-radius: 32px;
}
.flex2Con {
  width: 90%;
  margin: auto;
}
.flexp {
  /* padding: 0 0 40px; */
  color: #FFF;
  font-family: Hanken Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
  margin-bottom: 65px ;
}
.flex2Con button {
  width: 100%;
  font-family: Hanken Grotesk;
  border: none;
  border-radius: 32px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #30baeb;
  display: flex;
  width: 302px;
  padding: 13px 14px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.flex2Con button:hover {
  transform: translate(5px);
  box-shadow: 0px 0px 0px #2980b9;
}
.Link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.soc p {
  font-family: Hanken Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.soc {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 5px;
}
