.main {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 40px;
  
  
}
 .link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: Hanken Grotesk;
  font-weight: bold;
  transition: transform 0.3s, box-shadow  0.3s;
  padding: 20px 0;
  border: 1 solid #30baed;

}

a:visited {
  text-decoration: white;
}

a:hover {
  text-decoration: underline;
  transform: translate(-5px);
  box-shadow: 0px 0px 0px #2980b9;
}

a:active {
  text-decoration: underline;
}
.main button {
  padding: 13px 24px 13px 24px;
  border-radius: 32px;
  border: 1px solid #30baed;
  font-family: Hanken Grotesk;
  font-size: 16px;
  text-align: center;
  color: #30BAEB;
  background: transparent;
  align-items: center;
  transition: transform 0.3s, box-shadow  0.3s;

}
.main button:hover {
  transform: translate(-5px);
  box-shadow: 0px 0px 0px #2980b9;
}
.mobileDrop{
  position: absolute;
  display: none;
  flex-direction: column;
  height: 100vh;
 max-width: 90%;
  background-color: #262626;
  margin: auto;
  right: 0;
  font-size: 16px;
  padding: 30px;
  margin-top: 20px;
  position: absolute;
  

}
.mobileDrop link{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: Hanken Grotesk;
  font-weight: bold;
  transition: transform 0.3s, box-shadow  0.3s;
  padding: 20px 0;
  border: 1 solid #30baed;
}
.mobileDrop button {
  margin-top: 40px;
  padding: 13px 24px 13px 24px;
  border-radius: 32px;
  border: 1px solid #30baed;
  font-family: Hanken Grotesk;
  font-size: 16px;
  text-align: center;
  color: #30BAEB;
  background: transparent;
  align-items: center;
  transition: transform 0.3s, box-shadow  0.3s;

}
.mobileDrop button :active{
  background: #30BAEB;
}
.mobileDrop button:hover {
  transform: translate(-5px);
  box-shadow: 0px 0px 0px #2980b9;
}
@media screen and (max-width: 820px) {
  .main{
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .mobileDrop{
    /* display: flex; */
  }
  .main{
    display: none;
    flex-direction: column;
  }
}



